.cache
*.pdf
overrides/config/brandon3055/ProjectIntelligence
overrides/config/brandon3055/ResourceCache
build
overrides/.mixin.out
overrides/backups
overrides/crash-reports
overrides/downloads
overrides/dumps
overrides/journeymap
overrides/local
overrides/logs
overrides/patchouli_books
overrides/saves
overrides/screenshots
overrides/TombManyGraves
overrides/.ReAuth.cfg
overrides/crafttweaker.log
overrides/minecraftinstance.json
overrides/servers.dat
overrides/usercache.json
overrides/usernamecache.json
overrides/mods/*.jar
!overrides/mods/appliedenergistics2-rv6-stable-7.omni-fixes-v46d.jar
